@media (max-width: 625px) {

    main {
        .select-chord-section {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px auto 200px;
        }    

        .audio-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-left: 20px;
        }

        .tips-container {
            h2 {
                margin-bottom: 20px;
            }
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 90%;
            margin-top: 25px;
            margin-left: 50px;
        }

        ul {
            li:first-child {
                margin: 0;
            }
            li {
                margin-top: 20px;
                margin-left: 0px;
                
            }
        }
    }
}

@media (max-width: 480px) {

    main {
        .open-strings-container {
            left: -20px;
        }
    }
}