@import '_setup.scss';

// font-family: 'Metal Mania', cursive;

@mixin finger() {
    color: white;
    background: black;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}

body {
    font-family: 'Cardo', serif;
    background: linear-gradient(#ffffff 25%, #449DD1);
   }
   
   h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }

   h2 {
       font-size: 25px;
       font-weight: bold;
   }

   h3 {
    font-size: 50px;
    margin-top: 15px;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    h1 {
        color: black;
        font-family: 'Oswald', sans-serif;
        text-orientation: sideways;
        font-size: 40px;
        margin: 50px 0 80px;
        position: relative;
        z-index: 0;
        &::after {
            content: '\01D11E';
            color: rgb(255, 135, 23);
            display: inline-block;
            position: absolute;
            font-size: 250%;
            font-weight: bold;
            transform: rotate(28deg);
            left: 90%;
            top: -95%;
            z-index: -1;
        }
    }
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.open-strings {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    left: -25px;
    .open-string {
        font-size: 25px;
        font-weight: bold;
    }
    .string-1-0 {
        visibility: hidden;
    }
    .string-2-0 {
        visibility: hidden;
    }
    .string-3-0 {
        visibility: hidden;
    }
    .string-4-0 {
        visibility: hidden;
    }
    .string-5-0 {
        visibility: hidden;
    }
    .string-6-0 {
        visibility: hidden;
    }
}


.fretboard {
    background: radial-gradient(at center, rgb(252, 228, 183), rgb(255, 205, 111));
    box-shadow: inset 10px 10px 100px 20px rgb(252, 170, 17),
                inset -10px -10px 100px 20px rgb(252, 170, 17);
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 350px;
}

.fret {
    background: radial-gradient(closest-side, rgb(219, 219, 219), rgb(32, 32, 32));
    box-shadow: 3px 0px rgba(0, 0, 0, 0.5);
    width: 2%;
    height: 100%;
    border-radius: 34%;
}

.fret-0 {
    background: black;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.string {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(at top, rgb(209, 207, 207), rgb(17, 17, 17));
    box-shadow: 0px 10px rgba(17, 17, 1, 0.2);
    width: 5000%;

}

.string-1 {
    height: 4px;
    .string-1-1 {
        @include finger();
        visibility: hidden;
    }
    .string-1-2 {
        @include finger();
        visibility: hidden;
    }
    .string-1-3 {
        @include finger();
        visibility: hidden;
    }
    .string-1-4 {
        @include finger();
        visibility: hidden;
    }
}

.string-2 {
    height: 5px;
    .string-2-1 {
        @include finger();
        visibility: hidden;
    }
    .string-2-2 {
        @include finger();
        visibility: hidden;
        
    }
    .string-2-3 {
        @include finger();
        visibility: hidden;
      
    }
    .string-2-4 {
        @include finger();
        visibility: hidden;
    }
}
.string-3 {
    height: 7px;
    .string-3-1 {
        @include finger();
        visibility: hidden;
    }
    .string-3-2 {
        @include finger();
        visibility: hidden;
    }
    .string-3-3 {
        @include finger();
        visibility: hidden;
    }
    .string-3-4 {
        @include finger();
        visibility: hidden;
    }
}
.string-4 {
    height: 7px;
    .string-4-1 {
        @include finger();
        visibility: hidden;
    }
    .string-4-2 {
        @include finger();
        visibility: hidden;
        
    }
    .string-4-3 {
        @include finger();
        visibility: hidden;
      
    }
    .string-4-4 {
        @include finger();
        visibility: hidden;
    }
}

.string-5 {
    height: 8px;
    .string-5-1 {
        @include finger();
        visibility: hidden;
    }
    .string-5-2 {
        @include finger();
        visibility: hidden;
        
    }
    .string-5-3 {
        @include finger();
        visibility: hidden;
      
    }
    .string-5-4 {
        @include finger();
        visibility: hidden;
    }
}
.string-6 {
    height: 12px;
    .string-6-1 {
        @include finger();
        visibility: hidden;
    }
    .string-6-2 {
        @include finger();
        visibility: hidden;
        
    }
    .string-6-3 {
        @include finger();
        visibility: hidden;
      
    }
    .string-6-4 {
        @include finger();
        visibility: hidden;
    }
}

.select-chord-section {
   display: flex;
   justify-content: space-around;
   margin: 50px 100px;
}

form {
    display: flex;
    flex-direction: column;
    label {
        font-size: 25px;
        font-weight: bold;;
    }
    select {
        margin-top: 15px;
    }
}

.audio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio-button {
    background-color: rgb(230, 226, 222);
    font-size: 35px;
    width: 150px;
    height: 150px;
    margin: 30px;
    border-radius: 20%;
    border: 5px solid black;
    transition: .2s;
}
