a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 625px) {
  main .select-chord-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto 200px;
  }
  main .audio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: 20px;
  }
  main .tips-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
    margin-top: 25px;
    margin-left: 50px;
  }
  main .tips-container h2 {
    margin-bottom: 20px;
  }
  main ul li:first-child {
    margin: 0;
  }
  main ul li {
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  main .open-strings-container {
    left: -20px;
  }
}

body {
  font-family: 'Cardo', serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#9adaff), color-stop(#e9e7e7), to(#449DD1));
  background: linear-gradient(#9adaff, #e9e7e7, #449DD1);
}

h2 {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: calc(2rem + 2vw);
  margin: 50px 0 80px;
  position: relative;
  z-index: 0;
}

header h1::after {
  content: '\01D11E';
  color: #ff8717;
  display: inline-block;
  position: absolute;
  font-size: calc(4rem + 4vw);
  font-weight: bold;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
  left: 90%;
  top: -70%;
  z-index: -1;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.open-strings-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: calc(11.5rem + 11.5vw);
  left: -30px;
}

.open-strings-container .open-string {
  font-size: calc(.9rem + .9vw);
  font-weight: bold;
}

.open-strings-container .string-1-0,
.open-strings-container .string-2-0,
.open-strings-container .string-3-0,
.open-strings-container .string-4-0,
.open-strings-container .string-5-0,
.open-strings-container .string-6-0 {
  visibility: hidden;
}

.fretboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: calc(11.5rem + 11.5vw);
  background: radial-gradient(at center, #fce4b7, #ffcd6f);
  -webkit-box-shadow: inset 10px 10px 100px 20px #fcaa11, inset -10px -10px 100px 20px #fcaa11;
          box-shadow: inset 10px 10px 100px 20px #fcaa11, inset -10px -10px 100px 20px #fcaa11;
}

.fret {
  background: radial-gradient(closest-side, #999595, #202020);
  -webkit-box-shadow: 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px rgba(0, 0, 0, 0.5);
  width: 2%;
  height: 100%;
  border-radius: 34%;
}

.fret-0 {
  background: black;
  border-radius: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.string {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px rgba(17, 17, 1, 0.2);
          box-shadow: 0px 10px rgba(17, 17, 1, 0.2);
  width: 5000%;
}

.string-1 {
  height: calc(.13rem + .13vw);
  background: black;
}

.string-1 .string-1-1,
.string-1 .string-1-2,
.string-1 .string-1-3,
.string-1 .string-1-4 {
  color: white;
  background-color: black;
  padding: 7px 10px;
  border-radius: 50%;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  visibility: hidden;
}

.string-2 {
  height: calc(.14rem + .14vw);
  background: black;
}

.string-2 .string-2-1,
.string-2 .string-2-2,
.string-2 .string-2-3,
.string-2 .string-2-4 {
  color: white;
  background-color: black;
  padding: 7px 10px;
  border-radius: 50%;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  visibility: hidden;
}

.string-3 {
  height: calc(.19rem + .19vw);
  background: black;
}

.string-3 .string-3-1,
.string-3 .string-3-2,
.string-3 .string-3-3,
.string-3 .string-3-4 {
  color: white;
  background-color: black;
  padding: 7px 10px;
  border-radius: 50%;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  visibility: hidden;
}

.string-4 {
  height: calc(.2rem + .2vw);
  background: black;
}

.string-4 .string-4-1,
.string-4 .string-4-2,
.string-4 .string-4-3,
.string-4 .string-4-4 {
  color: white;
  background-color: black;
  padding: 7px 10px;
  border-radius: 50%;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  visibility: hidden;
}

.string-5 {
  height: calc(.25rem + .25vw);
  background: black;
}

.string-5 .string-5-1,
.string-5 .string-5-2,
.string-5 .string-5-3,
.string-5 .string-5-4 {
  color: white;
  background-color: black;
  padding: 7px 10px;
  border-radius: 50%;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  visibility: hidden;
}

.string-6 {
  height: calc(.32rem + .32vw);
  background: black;
}

.string-6 .string-6-1,
.string-6 .string-6-2,
.string-6 .string-6-3,
.string-6 .string-6-4 {
  color: white;
  background-color: black;
  padding: 7px 10px;
  border-radius: 50%;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  visibility: hidden;
}

.audio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: 20px;
}

.select-chord-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 80px auto 200px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.tips-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: 10px;
  margin-right: 50px;
}

ul {
  font-size: calc(.8rem + .8vw);
  line-height: calc(1.3rem + 1.3vw);
}

ul li:first-child {
  margin: 20px 0 20px 50px;
}

ul li {
  margin-left: 50px;
}

ul li::before {
  content: '\01F3BC';
  font-size: calc(1.3rem + 1.3vw);
}

.audio-button {
  background-color: #e6e2de;
  font-size: calc(1.3rem + 1.3vw);
  width: calc(6rem + 6vw);
  height: calc(6rem + 6vw);
  margin: 30px;
  border-radius: 20%;
  border: 5px solid black;
  -webkit-transition: .2s;
  transition: .2s;
}

.audio-button:hover {
  border: 5px solid #ff8717;
}

.audio-button:focus {
  border: 5px solid #ff8717;
}

.audio-button:active {
  background: radial-gradient(at center, white, #3a3a3a);
}

footer {
  color: #fcaa11;
  background-color: black;
  padding: 10px;
  margin: 600px auto 0 auto;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #fcaa11;
}

footer a:focus {
  color: #fcaa11;
}
