a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Cardo', serif;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #e9e7e7), to(#449DD1));
  background: linear-gradient(#e9e7e7 60%, #449DD1);
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 35px;
  font-weight: bold;
}

h3 {
  font-size: 50px;
  margin-top: 15px;
  color: white;
}

p {
  font-size: 23px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  color: black;
  font-family: 'Oswald', sans-serif;
  text-orientation: sideways;
  font-size: 40px;
  margin: 50px 0 80px;
  position: relative;
  z-index: 0;
}

header h1::after {
  content: '\01D11E';
  color: #ff8717;
  display: inline-block;
  position: absolute;
  font-size: 250%;
  font-weight: bold;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
  left: 90%;
  top: -95%;
  z-index: -1;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.open-strings-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 350px;
  left: -25px;
}

.open-strings-container .open-string {
  font-size: 25px;
  font-weight: bold;
}

.open-strings-container .string-1-0,
.open-strings-container .string-2-0,
.open-strings-container .string-3-0,
.open-strings-container .string-4-0,
.open-strings-container .string-5-0,
.open-strings-container .string-6-0 {
  visibility: hidden;
}

.fretboard {
  background: radial-gradient(at center, #fce4b7, #ffcd6f);
  -webkit-box-shadow: inset 10px 10px 100px 20px #fcaa11, inset -10px -10px 100px 20px #fcaa11;
          box-shadow: inset 10px 10px 100px 20px #fcaa11, inset -10px -10px 100px 20px #fcaa11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 350px;
}

.fret {
  background: radial-gradient(closest-side, #999595, #202020);
  -webkit-box-shadow: 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px rgba(0, 0, 0, 0.5);
  width: 2%;
  height: 100%;
  border-radius: 34%;
}

.fret-0 {
  background: black;
  border-radius: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.string {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px rgba(17, 17, 1, 0.2);
          box-shadow: 0px 10px rgba(17, 17, 1, 0.2);
  width: 5000%;
}

.string-1 {
  height: 4px;
  background: black;
}

.string-1 .string-1-1 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-1 .string-1-2 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-1 .string-1-3 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-1 .string-1-4 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-2 {
  height: 5px;
  background: black;
}

.string-2 .string-2-1 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-2 .string-2-2 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-2 .string-2-3 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-2 .string-2-4 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-3 {
  height: 7px;
  background: black;
}

.string-3 .string-3-1 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-3 .string-3-2 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-3 .string-3-3 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-3 .string-3-4 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-4 {
  height: 7px;
  background: black;
}

.string-4 .string-4-1 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-4 .string-4-2 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-4 .string-4-3 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-4 .string-4-4 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-5 {
  height: 8px;
  background: black;
}

.string-5 .string-5-1 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-5 .string-5-2 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-5 .string-5-3 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-5 .string-5-4 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-6 {
  height: 12px;
  background: black;
}

.string-6 .string-6-1 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-6 .string-6-2 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-6 .string-6-3 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.string-6 .string-6-4 {
  color: #f1e0e0;
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

.audio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.select-chord-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px auto 200px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

form select {
  margin-top: 15px;
}

.tips-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: 10px;
  margin-right: 20px;
}

ul {
  font-size: 25px;
  line-height: 32px;
}

ul li:first-child {
  margin: 20px 0 20px 50px;
}

ul li {
  margin-left: 50px;
}

ul li::before {
  content: '\01F3BC';
  font-size: 40px;
}

.audio-button {
  background-color: #e6e2de;
  font-size: 30px;
  width: 150px;
  height: 150px;
  margin: 30px;
  border-radius: 20%;
  border: 5px solid black;
  -webkit-transition: .2s;
  transition: .2s;
}

footer {
  color: #fcaa11;
  background-color: black;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #fcaa11;
}

footer a:focus {
  color: #fcaa11;
}
